body {
    background-color: black;
    font-family: monospace;
}


  #first {
    color: green;
    font-weight: bolder;
  }

  #second {
    margin-right: 0.5em;
  }

  .editable {
    width: 100%;
  }

span {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 0.9rem;
    outline: none;
}
p {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}